.event-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.event-details {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.event-details h2 {
    color: #333;
}

.event-details p {
    color: #666;
    margin-bottom: 10px;
}

.event-details img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.event-video {
    max-width: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.other-events {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.other-events h2 {
    color: #333;
}

.other-events p {
    color: #666;
    margin-bottom: 10px;
}

.other-events a {
    color: #007bff;
    text-decoration: none;
}

.other-events a:hover {
    text-decoration: underline;
}
.input_container
{
    display: flex;
    background-color: var(--primary_color);
    border-radius: 1rem;
overflow: hidden;


}

.input_container input
{
    flex: 1;
    padding: 10px;
    height: 2.5rem;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
}
.input_container input::placeholder
{
    color: white;
}
.input_container button
{
    padding: 10px;
}

.input_container button:active
{
    transform: scale(1);
}
.allComments ul li
{
display: flex;
flex-direction: column;
}

.allComments .name
{
    font-weight: bold;
}
.comment_time
{
    text-align: right;
    font-style: italic;
    color: var(--secondary_color);
}
.add_events_btn
{
    padding: 10x;
    width: 100%;
    margin-top: .5rem;
    height: 2.5rem;
    background-color: red;
    border-radius: .5rem;
    color: #fff;
    font-weight: bold;
}