.event-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    padding: 10px;
}

.event-details {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.event-details h2 {
    color: #333;
}

.event-details p {
    color: #666;
    margin-bottom: 10px;
}

.event-details img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.event-video {
    max-width: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.other-events {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    
}

.other-events h2 {
    color: #333;
}

.other-events p {
    color: #666;
    margin-bottom: 10px;
}

.other-events a {
    color: #007bff;
    text-decoration: none;
}

.other-events a:hover {
    text-decoration: underline;
}
.input_container
{
    display: flex;
    background-color: var(--primary_color);
    border-radius: 1rem;
overflow: hidden;


}

.input_container input
{
    flex: 1;
    padding: 10px;
    height: 2.5rem;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
}
.input_container input::placeholder
{
    color: white;
}
.input_container button
{
    padding: 10px;
}

.input_container button:active
{
    transform: scale(1);
}
.allComments ul li
{
display: flex;
flex-direction: column;
}

.allComments .name
{
    font-weight: bold;
}
.comment_time
{
    text-align: right;
    font-style: italic;
    color: var(--secondary_color);
}
.add_events_btn
{
    padding: 10x;
    width: 100%;
    margin-top: .5rem;
    height: 2.5rem;
    background-color: red;
    border-radius: .5rem;
    color: #fff;
    font-weight: bold;
}

.o_event_name
{

}


.o_event_name {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  color: #fff !important;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;

}

.o_event_name:active,
.o_event_name:hover {
  outline: 0;
}

.o_event_name span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.o_event_name:hover span {
  background: none;
}
.btn_container_links
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 20px;
}
.match_player
{
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: .5rem;
    width: fit-content;

}
.match_player img
{
    width: 120px;
}
.match_player 
{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.match_player p{
    font-weight: bold;
}

@media (min-width: 768px) {
  .o_event_name {
    font-size: 24px;
    min-width: 196px;
  }
}