@inject EventService _eventService;

<header>
    <link rel="stylesheet" href="css/event.css">
</header>

@if(eventModelList != null && eventModelList.Count > 0)
{
    <div class="card_container">

    @foreach(var eventModel in eventModelList)
    {
        <div class="card">
            <img src="@eventModel.EventImageUrl" class="card-img-top" alt="Event Image">
            <div class="card-body">
                <h5 class="card-title">@eventModel.EventName</h5>
                <p class="card-text">@eventModel.EventDescription</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Date:</strong> @eventModel.EventDate.ToShortDateString()</li>
            </ul>
        </div>
    }
    </div>

}

@code {
    private List<EventModel> eventModelList;

        protected override void OnInitialized()
        
           
    {
        eventModelList =  _eventService.getAllEvents();
    }
}
