
<div class="card">
   
<img src="@EventImageUrl" class="card-img-top" alt="Event Image">
    
    <div class="card-body">
        <h5 class="card-title">@EventName</h5>
        <p class="card-text">@EventDescription</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Date:</strong> @EventDate.ToShortDateString()</li>
    </ul>
</div>