@inject EventService _eventService;

<header>
    <link rel="stylesheet" href="css/event.css">
</header>

@if(eventModelList != null && eventModelList.Count > 0)
{
    <div class="card_container">

    @foreach(var eventModel in eventModelList)
    {
        <div class="card">
            <img src="@eventModel.EventImageUrl" class="card-img-top" alt="Event Image">
            <div class="card-body">
                <h5 class="card-title">@eventModel.EventName</h5>
                <p class="card-text">@eventModel.EventDescription</p>
            </div>
            <ul class="list-group list-group-flush date_container">
                <li class="list-group-item"><strong>Date:</strong> @eventModel.EventDate.ToShortDateString()</li>
                <button>
                    <span class="material-icons">
                    arrow_right_alt
                    </span>
                </button>
            </ul>

        </div>
    }
    </div>

}

@code {
    private List<EventModel> eventModelList;

        protected override async Task OnInitializedAsync() 
            {
                eventModelList = await _eventService.getAllEvents();
            }
}
