<header>
  <link rel="stylesheet" href="css/landingPage.css">
   @* <link rel="stylesheet" href="css/Nav.css"> *@
</header>
<div class="landing_container">
  <img src="images/w_logo.png" alt="" class="images">
  <div class="banner_content">
    <h1>Exciting Announcement!</h1>
    <p>
 Get ready for an exhilarating celebration of athleticism and unity as the City of Payris proudly announces 
  its hosting of the Olympics in 2024! Join us in the heart of this vibrant metropolis 
  as we welcome the world's finest athletes to compete on the grandest stage. 
  From thrilling competitions to unforgettable moments of triumph, the spirit of the 
  Olympics will ignite our city with energy and passion like never before. 
  Mark your calendars and prepare to be part of history as Payris shines as the host of
   the 2024 Olympics. Let the games begin! 
    </p>
    <button>Get Started</button>
  
  </div>
</div>